body {
    background: #f5f4f57c;
    font-family: 'Montserrat', sans-serif;
}



header .navbar {
    /*indicando la altura minima que quiero*/
    min-height: 80px;
    overflow: hidden;
    
}

/*---LOGO----*/

header .logo h2,
header .logo span,
header .logo p {
    font-size: 16px;
    display: inline-block;
    margin: 0%;
}

header .logo h2 {
    /*indco el tamaño que deseo de la funte y convierto la letra en mayuscula*/
    font-weight: 800;
    text-transform: uppercase;
    /* especifica el cambio entre mayúsculas y minúsculas del texto de un elemento*/

}

header .logo .name {
    color: #e44f9c;
    padding: 10px;
}

header .logo .icono {
    color: #bfbfbf;
}

header .logo p {
    color: #777;
}

/*MENU*/
header .menu {
    background: #b0c2f2;
    padding: 0;
    font-weight: 1000;

}

header .menu a {
    display: block;
    padding: 0 30px;
    text-decoration: none;
    /*para quitar las lineas que pueda tener*/
    color: #fffefe;
}



header .menu .c-1:hover {
    background: #9eb4f3fd
}

header .menu .c-2:hover {
    background: #9eb4f3fd
}

header .menu .c-3:hover {
    background: #9eb4f3fd
}

/*--CARRUSEL--*/
@media screen and (min-width:567px) {
    .cards-wrapper {
        display: flex;
    }

    .card {
        margin: 1em auto;
        width: calc(100%/3);
    }

    .img-wrapper {
        height: 22vw;
        margin: 0 auto;
        /* display: flex;
    align-items: center;
    justify-content: center;*/

    }
}

@media screen and (max-width:567px) {
    .card:not(:first-child) {
        display: none;
    }

}

    .img-wrapper img {
        max-width: 100%;
        max-height: 100%;
    }

    /*-----ACERCA DE MI------*/
    .acerca-de {
        padding: 30px;
        margin-bottom: 40px;
    }

    .acerca-de .foto {
        text-align: center;
    }

    .acerca-de .info .titulo {
        color: #e44f9c;
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 30px;
    }

    .acerca-de .info .resumen {
        letter-spacing: 1px;
        color: #0a0a0a;
    }

    .acerca-de .info .label {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10p
    }