
.icon-dot:before { content: '\e800'; } /* '' */
.icon-briefcase:before { content: '\e801'; } /* '' */
.icon-github-squared:before { content: '\e802'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
