
.icon-gino-ojo:before { content: '\e803'; } /* '' */
.icon-users:before { content: '\e804'; } /* '' */
.icon-left-open:before { content: '\e805'; } /* '' */
.icon-right-open:before { content: '\e806'; } /* '' */
.icon-heart-filled:before { content: '\e807'; } /* '' */
.icon-right-open-outline:before { content: '\e809'; } /* '' */
.icon-left-open-outline:before { content: '\e80a'; } /* '' */
.icon-feliz:before { content: '\e80c'; } /* '' */
.icon-heart-empty:before { content: '\e80d'; } /* '' */
.icon-risa:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-google-plus-circle:before { content: '\f2b3'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
